<template>
  <div class="app" v-if="admin">
    <div>
      <div class="sidebar">
        <button @click="showpeopleform()">
          <img src="images/people-icon.png" />
        </button>
        <button @click="showcoinsform()">
          <img src="images/coins-icon.svg" />
        </button>
      </div>

      <div>
        <form v-if="showPeople" class="form-admin">
          <h3>Пользователи</h3>
          <ul class="centered-list">
            <li v-for="user in peoples" :key="user" @click="showUser(user.id)">
              ID {{ user.id }} | Почта {{ user.email }} | Роль {{ user.role }}
            </li>
          </ul>
        </form>
        <form v-if="selectedUser" class="form-admin">
          <button type="button" class="admin-button" @click="showpeopleform()">
            <img class="admin-button" src="images/back-icon.png" />
          </button>
          <h2 class="centered-list">Подробная информация</h2>
          <ul class="centered-list">
            <h3>
              ID
              {{ user_data[0].id }}
              | Почта
              {{ user_data[0].email }}
              | Роль
              {{ user_data[0].role }}
            </h3>
            <li
              v-for="(user, index) in user_data[1]"
              :key="user"
              @click="showChart(user.coin_id)"
              class="li-coin"
            >
              Монета {{ name_coin[index] }} | Робот {{ user.bot_id }}
              <span class="icon" @click.stop="showChart(user.coin_id)"></span>
              <div v-if="actual_amount[user.bot_id]">
                Цена: {{ price_coin[index] }} | Количество:
                {{ actual_amount[user.bot_id][user.coin_id] }}
                <button
                  class="delete-button"
                  @click.stop.prevent="
                    deleteCoin({
                      coin_id: user.coin_id,
                      owner_id: user_data[0].id,
                      bot_id: user.bot_id,
                    })
                  "
                >
                  <img
                    class="delete-button"
                    src="images/delete-icon.png"
                    alt="Delete"
                  />
                </button>
              </div>
            </li>
          </ul>

          <div class="bordered-div">
            <div class="selected-div">
              <div>
                <select v-model="selectedCoin" class="add-money">
                  <option v-for="coin in coins" :key="coin">
                    {{ coin }}
                  </option>
                </select>
              </div>
              <div>
                <input
                  type="number"
                  v-model="selectedCount"
                  class="add-money-number"
                  min="1"
                />
              </div>
              <div>
                <select
                  v-if="have_bots"
                  v-model="selectedRobot"
                  class="add-money"
                >
                  <option v-for="robot in bots" :key="robot">
                    {{ robot }}
                  </option>
                </select>
                <input
                  v-if="showCreateRobotOption"
                  v-model="selectedRobot"
                  class="add-money-number"
                />
                <input
                  v-if="one_bot"
                  v-model="selectedRobot"
                  class="add-money-number"
                  list="one_bot"
                  text="value"
                />
                <datalist id="one_bot">
                  <option option :value="bots"></option>
                </datalist>
              </div>
            </div>
            <input
              type="button"
              @click="showaddcoinform()"
              value="Добавить монету"
            />
            <input
              type="button"
              @click="editamountform()"
              value="Изменить кол-во"
            />
            <div v-if="addCoinError" class="center-error">
              Такая монета уже есть
            </div>
            <div v-if="editBad" class="center-error">
              Изменить кол-во не удалось
            </div>
          </div>
          <div class="chart_admin" ref="chartContainer"></div>
          <div>
            <input
              type="button"
              @click="editrole('admin')"
              value="Выдать права администратора"
              class="input_coin"
            />
            <input
              type="button"
              @click="editrole('user')"
              value="Забрать права администратора"
              class="input_coin"
            />
          </div>
          <input
            type="button"
            @click="deleteuser()"
            value="Удалить профиль"
            class="delete-button-user"
          />
        </form>
        <form v-if="showCoin" class="form-admin">
          <h3>Coin</h3>
          <ul class="centered-list">
            <div>
              <li
                v-for="(coin, index) in all_coins.names"
                :key="coin"
                @click="check_id(coin)"
              >
                Монета {{ coin }} | Цена {{ all_coins.prices[index] }}
                <button
                  class="delete-button-coin"
                  @click.stop.prevent="deleteCoinForever(coin)"
                >
                  <img
                    class="delete-button-coin"
                    src="images/delete-icon.png"
                    alt="Delete"
                  />
                </button>
              </li>
            </div>
            <div class="bordered-div">
              <div class="selected-div">
                <input
                  type="text"
                  v-model="newCoinName"
                  class="add-money-number"
                  text="Название монеты"
                />
                <input
                  type="number"
                  v-model="newCoinPrice"
                  class="add-money-number"
                />
              </div>
              <input
                type="button"
                @click="showaddcoin()"
                value="Добавить монету"
              />
              <input
                type="button"
                @click="showedtcoin()"
                value="Изменить стоимость монеты"
              />
              <div v-if="notCoinName" class="center-error">Этой монеты нет</div>
              <div v-if="isCoinName" class="center-error">
                Эта монета уже есть
              </div>
            </div>
          </ul>
          <div class="chart_admin" ref="chartContainer"></div>
        </form>
      </div>
    </div>
  </div>
  <div v-else>
    <form class="forms-container">
      <h3>Вы не авторизованы</h3>
    </form>
  </div>
</template>

<script>
import { createChart } from "lightweight-charts";
export default {
  name: "AdminComponent",
  data() {
    return {
      API_URL: process.env.VUE_APP_API_URL,
      showCoin: false,
      showPeople: false,
      selectedUser: false,
      addCoinError: false,
      showCreateRobotOption: false,
      have_bots: false,
      one_bot: false,
      editBad: false,
      notCoinName: false,
      isCoinName: false,
      admin: true,
      peoples: {},
      all_coins: {},
      walletData: {},
      user_data: [],
      name_coin: [],
      price_coin: [],
      coins: [],
      bots: [],
      newCoinPrice: null,
      newCoinName: null,
      id_user: null,
      selectedCoin: null,
      selectedRobot: null,
      actual_amount: {},
      selectedCount: 1,
    };
  },

  methods: {
    async showedtcoin() {
      this.loadCoins();
      if (!this.coins.includes(this.newCoinName)) {
        this.isCoinName = false;
        this.notCoinName = true;
      } else {
        this.isCoinName = false;
        this.notCoinName = false;
        this.editcoin();
      }
    },
    async editcoin() {
      const coinData = { name: this.newCoinName };
      // eslint-disable-next-line no-unused-vars
      const add_coin = await fetch(`${this.API_URL}/coins/coins/add`, {
        method: "POST",
        credentials: "include",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(coinData),
      });
      const name_coin = await fetch(
        `${this.API_URL}/coins/coin/id?coin_name=${this.newCoinName}`,
        {
          credentials: "include",
        }
      );
      const id_coin = await name_coin.json();
      // eslint-disable-next-line no-unused-vars
      const add_exchange = await fetch(
        `${this.API_URL}/coins/coins/exchange/{id}?coin_id=${id_coin}&new_price=${this.newCoinPrice}`,
        {
          method: "POST",
          credentials: "include",
        }
      );
      this.showcoinsform();
    },
    async showaddcoin() {
      this.loadCoins();
      if (this.coins.includes(this.newCoinName)) {
        this.notCoinName = false;
        this.isCoinName = true;
      } else {
        this.notCoinName = false;
        this.isCoinName = false;
        this.editcoin();
      }
    },
    async deleteCoinForever(coin) {
      const name_coin = await fetch(
        `${this.API_URL}/coins/coin/id?coin_name=${coin}`,
        {
          credentials: "include",
        }
      );
      const id_coin = await name_coin.json();
      // eslint-disable-next-line no-unused-vars
      const response = await fetch(
        `${this.API_URL}/coins/coin/delete?coin_id=${id_coin}`,
        {
          method: "DELETE",
          credentials: "include",
          headers: {
            "Content-Type": "application/json",
          },
        }
      );
      this.showCoin = false;
      this.showcoinsform();
    },
    async check_id(coin) {
      const name_coin = await fetch(
        `${this.API_URL}/coins/coin/id?coin_name=${coin}`,
        {
          credentials: "include",
        }
      );
      const id_coin = await name_coin.json();
      this.showChart(id_coin);
    },
    async deleteuser() {
      // eslint-disable-next-line no-unused-vars
      const response = await fetch(
        `${this.API_URL}/auth/users/delete/?id_user=${this.id_user}`,
        {
          method: "DELETE",
          credentials: "include",
          headers: {
            "Content-Type": "application/json",
          },
        }
      );
      this.showpeopleform();
    },
    async editrole(role) {
      const roleData = { id: this.id_user, new_role: role };
      // eslint-disable-next-line no-unused-vars
      const new_role = await fetch(`${this.API_URL}/auth/edit_role`, {
        method: "PATCH",
        credentials: "include",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(roleData),
      });
      this.showUser(this.id_user);
    },
    async sortedPeoples() {
      this.peoples = this.peoples.slice().sort((a, b) => a.id - b.id);
    },
    async sortUsersByBotId() {
      this.user_data[1].sort((a, b) => a.bot_id - b.bot_id);
    },
    async loadCoins() {
      try {
        const response = await fetch(`${this.API_URL}/coins/coin/all`);
        this.coins = await response.json();
      } catch (error) {
        console.error(error);
      }
    },
    async showpeopleform() {
      if (this.showCoin || this.selectedUser) {
        this.showCoin = false;
        this.selectedUser = false;
      }
      this.showCreateRobotOption = false;
      this.have_bots = false;
      this.one_bot = false;
      this.showPeople = true;
      const all_people = await fetch(`${this.API_URL}/auth/users/all`, {
        credentials: "include",
      });
      const data = await all_people.json();
      this.peoples = data;
      this.sortedPeoples();
    },
    async showaddcoinform() {
      try {
        const name_coin = await fetch(
          `${this.API_URL}/coins/coin/id?coin_name=${this.selectedCoin}`,
          {
            credentials: "include",
          }
        );
        const id_coin = await name_coin.json();
        const WalletData = {
          coin_id: id_coin,
          owner_id: this.id_user,
          bot_id: this.selectedRobot,
        };
        const checkCoin = await fetch(`${this.API_URL}/wallets/wallet/check`, {
          method: "POST",
          credentials: "include",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(WalletData),
        });
        const checkCoinjson = await checkCoin.json();
        if (checkCoinjson == 0) {
          this.addCoinError = false;
          // eslint-disable-next-line no-unused-vars
          const responseWallet = await fetch(
            `${this.API_URL}/wallets/wallet/add`,
            {
              method: "POST",
              credentials: "include",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(WalletData),
            }
          );
          const last_wallet = await fetch(
            `${this.API_URL}/wallets/wallet/last`,
            {
              credentials: "include",
            }
          );
          const last_wallet_id = await last_wallet.json();
          const AmountData = {
            wallet_id: last_wallet_id,
            amount: this.selectedCount,
          };
          // eslint-disable-next-line no-unused-vars
          const responseAmount = await fetch(
            `${this.API_URL}/wallets/wallet/amount/add`,
            {
              method: "POST",
              credentials: "include",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(AmountData),
            }
          );
          this.showUser(this.id_user);
        } else {
          this.addCoinError = true;
        }
      } catch (error) {
        console.error(error);
      }
    },
    async editamountform() {
      const name_coin = await fetch(
        `${this.API_URL}/coins/coin/id?coin_name=${this.selectedCoin}`,
        {
          credentials: "include",
        }
      );
      const id_coin = await name_coin.json();
      const WalletData = {
        coin_id: id_coin,
        owner_id: this.id_user,
        bot_id: this.selectedRobot,
      };
      const wallet_id = await fetch(`${this.API_URL}/wallets/wallet/amount/`, {
        method: "POST",
        credentials: "include",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(WalletData),
      });
      const wallet_id_json = await wallet_id.json();
      const edit_data = {
        wallet_id: wallet_id_json,
        amount: this.selectedCount,
      };
      const edit_amount = await fetch(
        `${this.API_URL}/wallets/wallet/amount/add`,
        {
          method: "POST",
          credentials: "include",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(edit_data),
        }
      );
      const normal_edit = await edit_amount.json();
      if (normal_edit == 1) {
        this.showUser(this.id_user);
      } else {
        this.editBad = true;
      }
    },
    async deleteCoin(WalletDelete) {
      try {
        // eslint-disable-next-line no-unused-vars
        const response = await fetch(`${this.API_URL}/wallets/wallet/delete/`, {
          method: "DELETE",
          credentials: "include",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(WalletDelete),
        });
        this.showUser(this.id_user);
      } catch (error) {
        console.error("Произошла ошибка при выполнении запроса:", error);
      }
    },

    async showcoinsform() {
      if (this.showCoin || this.selectedUser || this.showPeople) {
        this.showCoin = false;
        this.selectedUser = false;
        this.showPeople = false;
        this.notCoinName = false;
        this.isCoinName = false;
      }
      this.showCreateRobotOption = false;
      this.have_bots = false;
      this.one_bot = false;
      this.showCoin = true;
      const coin = await fetch(`${this.API_URL}/coins/coin/all/price`, {
        credentials: "include",
      });
      const all = await coin.json();
      this.all_coins = all;
    },
    async showUser(id) {
      const user_info = await fetch(`${this.API_URL}/auth/users/${id}`, {
        credentials: "include",
      });
      const data = await user_info.json();
      this.editBad = false;
      this.selectedUser = false;
      this.showPeople = false;
      this.selectedUser = true;
      this.user_data = data;
      let coin_names = [];
      let coin_prices = [];
      this.id_user = id;
      let bot_num = new Set();
      for (const item of this.user_data[1]) {
        const coin = await fetch(
          `${this.API_URL}/coins/coin/view/{id}?coin_id=${item.coin_id}`,
          {
            credentials: "include",
          }
        );
        const coinData = await coin.json();
        coin_names.push(coinData.name);
        coin_prices.push(coinData.price);
        bot_num.add(item.bot_id);
      }
      const amount_wallet = await fetch(
        `${this.API_URL}/wallets/wallet/view/{id}?id_user=${id}`,
        {
          credentials: "include",
        }
      );
      const walletData = await amount_wallet.json();
      this.actual_amount = walletData;
      this.name_coin = coin_names;
      this.price_coin = coin_prices;
      const bots_num = Array.from(bot_num);
      this.bots = bots_num;
      if (this.bots.length < 2) {
        this.have_bots = false;
        this.one_bot = false;
        this.showCreateRobotOption = true;
      } else {
        this.showCreateRobotOption = false;
        this.one_bot = false;
        this.have_bots = true;
      }
      if (this.bots.length == 1) {
        this.have_bots = false;
        this.showCreateRobotOption = false;
        this.one_bot = true;
      }
      this.sortUsersByBotId();
    },
    async showChart(id) {
      if (this.chart) {
        this.chart.remove();
      }
      if (this.selectedPriceCoin) {
        this.selectedPriceCoin = false;
      }
      const coin_exchange = await fetch(
        `${this.API_URL}/coins/coin/view/exchange/${id}?coin_id=${id}`,
        {
          credentials: "include",
        }
      );
      this.selectedPriceCoin = true;
      const data = await coin_exchange.json();
      this.actual_price = await data.price;
      this.renderChart(data);
    },
    renderChart(data) {
      const graph_stat = [];
      for (let i = 0; i < data.length; i++) {
        var correct_date = new Date(data[i].time);
        graph_stat.push({
          time:
            (correct_date.getTime() +
              correct_date.getTimezoneOffset() * 60 * 1000) /
            1000,
          value: data[i].value,
        });
      }
      this.chart = createChart(this.$refs.chartContainer, {
        width: 325,
        height: 200,
        layout: {
          background: { color: "rgba(255, 255, 255, 0.13)" },
          textColor: "white",
        },
        grid: {
          vertLines: { color: "rgba(255, 255, 255, 0.13)" },
          horzLines: { color: "rgba(255, 255, 255, 0.13)" },
        },
      });

      this.is_chart = true;

      const lineSeries = this.chart.addLineSeries({ color: "white" });
      lineSeries.setData(graph_stat);
    },
  },
  async created() {
    try {
      const chek_role = await fetch(`${this.API_URL}/authusers/me`, {
        credentials: "include",
      });
      const data = await chek_role.json();
      if (data.role != "admin") {
        this.admin = false;
      }
    } catch (error) {
      console.error(error);
      this.wallets = {};
    }
    this.loadCoins();
  },
};
</script>

<style>
div {
  color: rgb(255, 255, 255);
}
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-admin {
  overflow: auto;
}
.chart_admin {
  margin-top: 20px;
}
.admin-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}
.delete-button-user {
  padding: 10px 20px;
  background-color: #660a0a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.delete-button {
  position: absolute;
  margin-top: -25px;
  right: -40px;
  width: 30px;
  height: 30px;
}
.delete-button img {
  width: 95%;
  height: 95%;
  left: 0.7px;
  bottom: 0.2px;
}
.delete-button-coin {
  position: absolute;
  margin-top: 5px;
  right: 30px;
  width: 30px;
  height: 30px;
}
.delete-button-coin img {
  width: 95%;
  height: 95%;
  left: 0.7px;
  bottom: 0.2px;
}
.li-coin {
  position: relative;
}
.input_coin {
  padding: 5px 10px;
  background-color: #f0f0f0;
  color: #333;
  border: 2px solid #333;
}
.add-money {
  color: white;
  background-color: black;
  width: 70px;
  height: 40px;
  margin-left: 10px;
  height: 30px;
}
.add-money-number {
  color: white;
  background-color: black;
  width: 70px;
  height: 40px;
  margin-left: 10px;
  margin-top: 0.5px;
  height: 30px;
}
.bordered-div {
  margin-top: 20px;
  border: 3px solid black;
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
}
.selected-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.center-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
</style>
