<template>
  <div class="app">
    <body>
      <div class="background">
        <div class="shape_blue"></div>
      </div>
      <form>
        <h3>Авторизация</h3>

        <label for="username">Username</label>
        <input required v-model="email_user" type="email" placeholder="Email" />

        <label for="password">Password</label>
        <input
          required
          v-model="password_user"
          type="password"
          placeholder="Password"
        />

        <router-link to="/wallet"
          ><button @click.prevent="loginUser">Войти</button></router-link
        >

        <router-link to="/regestration"
          ><button class="button">Зарегистрироваться</button></router-link
        >
      </form>
    </body>
  </div>
</template>

<script>
export default {
  name: "LoginComponent",

  data() {
    return {
      API_URL: process.env.VUE_APP_API_URL,
      email_user: "",
      password_user: "",
    };
  },
  methods: {
    async loginUser() {
      const response = await fetch(`${this.API_URL}/auth/login`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        credentials: "include",
        body: JSON.stringify({
          email: this.email_user,
          password: this.password_user,
        }),
      });
      if (response.status !== 200) {
        alert("Неправильный логин или пароль");
      } else {
        this.$router.push("/wallet");
      }
    },
  },
};
</script>

<style media="screen">
.button {
  position: relative;
  top: -20px;
}
</style>
