<template>
  <div class="app">
    <body>
      <div class="background">
        <div class="shape_orange"></div>
      </div>
      <form>
        <h3>Регистрация</h3>

        <label for="username">Почта</label>
        <input required v-model="email_reg" type="email" placeholder="Email" />

        <label for="password">Пароль</label>
        <input
          required
          v-model="password_reg"
          type="password"
          placeholder="Password"
        />

        <div>
          <label class="terms" for="agree_terms"
            >Согласен на условия регистрации</label
          >
          <input type="checkbox" v-model="agree_terms" />
        </div>

        <router-link to="/login"
          ><button class="button" @click.prevent="loginReg">
            Зарегистрироваться
          </button></router-link
        >
      </form>
    </body>
  </div>
</template>

<script>
export default {
  name: "RegestrationComponent",

  data() {
    return {
      API_URL: process.env.VUE_APP_API_URL,
      email_reg: "",
      password_reg: "",
      agree_terms: false,
      number_bot: "",
    };
  },
  methods: {
    async loginReg() {
      const response = await fetch(`${this.API_URL}/auth/register`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        credentials: "include",
        body: JSON.stringify({
          email: this.email_reg,
          password: this.password_reg,
          agree_terms: this.agree_terms,
        }),
      });
      if (response.status !== 200) {
        alert("Такой пользователь уже зарегистрирован");
      } else {
        this.$router.push("/login");
      }
    },
  },
};
</script>

<style media="screen">
.button {
  position: relative;
  top: -20px;
}
label.terms {
  text-align: center;
}
</style>
