<template>
  <div>
    <div class="app">
      <body>
        <div class="background">
          <div class="shape_orange"></div>
        </div>
        <div v-if="Object.keys(wallets).length === 0">
          <form class="forms-container">
            <h3>У вас нет монет</h3>
          </form>
        </div>
        <div>
          <div
            v-for="key in Object.keys(wallets)"
            :key="key"
            class="forms_parent"
          >
            <form class="forms-container">
              <h3>Кошелёк {{ key }}</h3>
              <ul class="centered-list">
                <li
                  v-for="(coin, index_coin) in wallets[key]['name']"
                  :key="coin"
                  :class="{
                    'red-bg': wallets[key]['compare'][index_coin] == 'smaller',
                  }"
                  @click="showChart(wallets[key]['id'][index_coin])"
                >
                  {{ coin }} - {{ wallets[key]["price"][index_coin] }}$
                  <span
                    class="icon"
                    @click.stop="showChart(wallets[key]['id'][index_coin])"
                  ></span>
                </li>
              </ul>
              <h3>Общая сумма</h3>
              <div class="centered-list total">
                {{ summ && summ[key] }} - USDT
              </div>
            </form>
          </div>
          <div id="div1" v-show="showChart" ref="chartContainer"></div>
        </div>
      </body>
    </div>
  </div>
</template>

<script>
import { createChart } from "lightweight-charts";
import { reactive } from "vue";
export default {
  name: "WalletComponent",
  data() {
    return {
      API_URL: process.env.VUE_APP_API_URL,
      wallets: {},
      summ: null,
      id_coin: [],
      coin_exchange: [],
      is_chart: false,
    };
  },
  methods: {
    getTypeOf(value) {
      return typeof value;
    },
    async showChart(id) {
      document.getElementById("div1").style.display = "block";
      if (this.chart) {
        this.chart.remove();
      }
      const coin_exchange = await fetch(
        `${this.API_URL}/coins/coin/view/exchange/${id}?coin_id=${id}`,
        {
          credentials: "include",
        }
      );
      const data = await coin_exchange.json();
      this.renderChart(data);
    },
    renderChart(data) {
      const graph_stat = [];
      for (let i = 0; i < data.length; i++) {
        var correct_date = new Date(data[i].time);
        graph_stat.push({
          time:
            (correct_date.getTime() +
              correct_date.getTimezoneOffset() * 60 * 1000) /
            1000,
          value: data[i].value,
        });
      }
      this.chart = createChart(this.$refs.chartContainer, {
        width: 325,
        height: 200,
        layout: {
          background: { color: "rgba(255, 255, 255, 0.13)" },
          textColor: "white",
        },
        grid: {
          vertLines: { color: "rgba(255, 255, 255, 0.13)" },
          horzLines: { color: "rgba(255, 255, 255, 0.13)" },
        },
      });

      this.is_chart = true;

      const lineSeries = this.chart.addLineSeries({ color: "white" });
      lineSeries.setData(graph_stat);
    },
  },
  async created() {
    try {
      const response = await fetch(`${this.API_URL}/wallets/wallet/view`, {
        credentials: "include",
      });
      if (response.status === 401) {
        throw new Error("Токен отсутствует");
      }
      const data = await response.json();
      this.wallets = reactive(data);
      const view_summ = await fetch(`${this.API_URL}/wallets/wallets/summ`, {
        credentials: "include",
      });
      const data_summ = await view_summ.json();
      this.summ = data_summ;
    } catch (error) {
      console.error(error);
      this.wallets = {};
    }
  },
};
</script>

<style>
@import "/src/assets/tailwind.css";

body {
  background-color: #000000 !important;
  color: #000000;
}
ul {
  list-style-type: none;
}
li {
  font-size: 18px;
}
li:before {
  color: #ffffff;
  background: #62cb91;
  display: inline-block;
  text-align: center;
  margin: 3px 3px;
  line-height: 22px;
  width: 22px;
  height: 22px;
  content: "";
  border-radius: 3px;
  box-shadow: 2px 2px 0 0 #ccc;
}
.centered-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.total {
  font-size: 24px;
  margin-top: 20 px;
}
.red-bg:before {
  background: #f09819;
}

.green-bg:before {
  background: #62cb91;
}
#div1 {
  display: none;
  height: 310px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(20%, 85%);
  top: 50%;
  transform: translate(20%, 85%);
  top: 50%;
  left: 26%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
</style>
