* {
    box-sizing: border-box;
  }
   
  body {
    background: #000000;
    min-height: 100vh;
    display: flex;
    font-weight: 400;
  }
   *,
   *,
   *:before,
   *:after {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
   }
   body {
     background-color: #080710;
   }
   .background {
     width: 430px;
     height: 520px;
     position: absolute;
     transform: translate(-50%, -50%);
     left: 50%;
     top: 50%;
   }
   .background .shape_orange {
     height: 200px;
     width: 200px;
     position: absolute;
     border-radius: 50%; 
   }
   .background .shape_blue {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
   }
   .shape_blue {
     background: linear-gradient(#1845ad, #23a2f6);
     left: -80px;
     top: -80px;
   }
   .shape_orange {
     background: linear-gradient(#ff512f, #f09819);
     left: -80px;
     top: -80px;
   }
   form {
     height: 520px;
     width: 420px;
     background-color: rgba(255, 255, 255, 0.13);
     position: absolute;
     transform: translate(-50%, -50%);
     top: 50%;
     left: 50%;
     border-radius: 10px;
     backdrop-filter: blur(10px);
     border: 2px solid rgba(255, 255, 255, 0.1);
     box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
     padding: 50px 35px;
   }
   form * {
     font-family: "Poppins", sans-serif;
     color: #ffffff;
     letter-spacing: 0.5px;
     outline: none;
     border: none;
   }
   form h3 {
     font-size: 32px;
     font-weight: 500;
     line-height: 42px;
     text-align: center;
   }
   
   label {
     display: block;
     margin-top: 30px;
     font-size: 16px;
     font-weight: 500;
   }
   input {
     display: block;
     height: 50px;
     width: 100%;
     background-color: rgba(255, 255, 255, 0.07);
     border-radius: 3px;
     padding: 0 10px;
     margin-top: 8px;
     font-size: 14px;
     font-weight: 300;
   }
   ::placeholder {
     color: #e5e5e5;
   }
   button {
     margin-top: 50px;
     width: 100%;
     background-color: #ffffff;
     color: #080710;
     padding: 15px 0;
     font-size: 18px;
     font-weight: 600;
     border-radius: 5px;
     cursor: pointer;
   }
body {
  background-color: #080710;
}
.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
}
form {
  height: 620px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
.forms_parent {
  display: inline-block;
}
.forms-container {
  position: relative;
  top: 350px;
  left: 550px;
  margin-left: 20px;
  min-height: 310px !important;
  margin-bottom: 2000px !important;
  overflow: auto;
}
label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}
button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}